## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp
tags

## Eclipse
.project

## Puppet forge
pkg

## Bundle
Gemfile.lock
.bundle

## RSpec
.rspec
spec/fixtures/manifests/
spec/fixtures/modules/

## Gem
Gemfile.lock
